# Pandas problems and examples

In [7]:
# Example

import numpy as np

import pandas as pd

In [8]:
arr = np.random.randint(1, 100, (10,10))

df = pd.DataFrame(arr)

In [9]:
# changing name of rows/index

df.index = ["R" + str(i) for i in range(1, 11)]

In [10]:
df.columns = ["C" + str(i) for i in range(1, 11)]

In [11]:
df

     C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
R1   10  40  24  12  17  79   4  78  39   13
R2   59  77  93  92  39  72  20  36  32   65
R3   72  67  94  74  13  15  23  65  47   25
R4   30  53  27  29  62  36  38  93  63   12
R5   80  46  80  48  13  77  78  41  85   40
R6   37  77  63   2  42  29  97  14  28   24
R7   84  19  62  77  33   1   4  48  90   59
R8   97  28  35  66  13  41  89  80  69   91
R9   77   3  20  18  47  23  97  79  12   20
R10  78  48  75  40  37  68  80  14  33   31

# Pandas Exercise

### Question 1